$ultraLightBlue: #d0e6eb;
$lightBlue: #90D9E6;
$darkBlue: #669aa4;
$lightPink: #DB88B0;
$highPink: #ED244E;
$darkPink: #ad6b8b;
$white: #f8f8f8;
$lightGrey: #cccccc;
$grey: #959595;
$black: #111111;
$success: #078e56;
$error: #de2828;
$opacity: #0000001d;
$linear: linear-gradient(90deg, #D0E6EB 36.75%, #FFF 72.89%);

$shadow: 2px 2px 10px #0000006a;